.horizontal-box-block,
section.block.block-views.clearfix.horizontal-box-block {
  float: none;
  width: auto !important;
  padding: 0px !important;
  margin-right: auto;
  margin-left: auto;
}

.horizontal-box-block .block-title {
  font-family: 'Cabin', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #2B7BA4;
  padding:24px 0px !important;
  margin-top: 40px !important;
}