.practicequit_blue_link {
  display: inline-block;
  width: auto;
  background-color: #286090;
  padding: .5em 1em .5em 1em;
  color: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-top: 10px;
}

.node-type-page .row .col-sm-9 .node-page a.practicequit_blue_link:visited,
.node-type-page .row .col-sm-9 .node-page a.practicequit_blue_link:active,
.node-type-page .row .col-sm-9 .node-page a.practicequit_blue_link:hover
{
  color: #ffffff;
}

.practicequit-bottom {
  border-top: 2px solid #286090;
  padding-top: 2em;
  margin-top: 2em;
}

.practicequit_banner {
  width: 100%;
}

.node-type-page.smokefreegov-daily-challenges-and-practice-quit-text-message-programs .row .col-sm-9 .page-content-container {
  margin: 0px;
  padding: 2.3333%;
  width: 100%;
}

.node-type-page.smokefreegov-daily-challenges-and-practice-quit-text-message-programs .content-container H1 {
  line-height: 1.5em;
  letter-spacing: 0;
}