@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,800,900');

.button{
    width: 100%;
    border: 1px solid #000000;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    position: relative !important;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
    display: block !important;
    text-decoration: none !important;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 0.2s ease-in;
  }
  .button-transition{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    padding: 15px !important;
  }
  .button-transition:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500%;
    height: 1000%;
    background: #34495E;
    z-index: -1;
    transform-origin: 0% 0%;
    transform: translateX(calc(20% - 25px)) translateY(10%) rotate(-45deg);
    transform: translateY(10%) translateX(20%) rotate(-45deg);
    transition: transform .2s;

  }
  .button-transition:hover::after {
    transform: translateY(10%) translateX(-7%) rotate(-45deg);
  }
  @media screen and (min-width:991px) and (max-width:1200px){
    .button-transition:hover::after {
      transform: translateY(5%) translateX(-7%) rotate(-45deg);
    }
  }
  .button:hover{
    transition: all initial .3s;
    pointer-events: auto;
  }


  .buttonText{
    font-family: 'Roboto', sans-serif;
    z-index: 10;
    display:block; 
    position:relative;
    text-decoration: none !important;
    color: #000000;
    font-weight: 900 !important;
  }