.node-author-bio .page_title h2 a {
  background-image: url("/sites/all/themes/smokefreegov/images/blog/title_bg_one.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size:cover;
  width: 100%;
  max-width: 900px;
  padding: 1.2em;
  color: #ffffff;
  display: block;
}

.mhealthmonitor_logo .mhealth_logo img {
  max-width: 100%;
}


.node-author-bio .page_title h2 {
  max-width: 900px;
}


.page-header {
  display: none;
}


.node-author-bio .field-name-field-author-profile-photo {
  padding: 1.2em;
}

