.node-type-cr-landing .syndicate, .node-type-cr-landing .main-container {
  background:#ffffff;
}

.node-type-cr-landing #block-views-cr-landing-previews-block {
  clear: both;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 1em;
  padding-bottom: 5%;
  float: none;
  width: auto !important;
}

.node-type-cr-landing #block-views-cr-landing-previews-block .views-row {
  margin-top: 2%;
  margin-bottom: 2%;
}

.node-type-cr-landing #block-views-cr-landing-previews-block .views-row-odd {
  clear: both;
}

.node-type-cr-landing #block-views-cr-landing-previews-block .views-field-field-featured-image {
  position: relative;
}

.node-type-cr-landing #block-views-cr-landing-previews-block .views-field-field-featured-image img {
  padding-bottom: 0px;
  width: 100% !important;
}

.node-type-cr-landing #block-views-cr-landing-previews-block .title {
  position: absolute;
  bottom: 10%;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2em;
  line-height: 1.2em;
}

.node-type-cr-landing #block-views-cr-landing-previews-block .title a,
.node-type-cr-landing #block-views-cr-landing-previews-block .title a:hover {
  color: #ffffff;
  text-decoration: none;
}

.node-type-cr-landing #block-views-cr-landing-previews-block .views-field-field-short-summary {
  padding: 5%;
  border: solid 1px #d7d7d7;
  font-size: 16px;
}

.node-type-cr-landing .header_banner_logo {
  background-image: none;
  margin-top: 2%;
}

.node-type-cr-landing .header_banner {
   position: relative;
 }

.node-type-cr-landing .header_banner .field-name-field-hero-image img,
.node-type-cr-landing .header_banner .field-name-field-mobile-hero-image img {
  padding-bottom: 0px;
}

.node-type-cr-landing .hero_text {
  position: absolute;
  left: 10%;
  top: 22%;
  width: 90%;
}

.node-type-cr-landing .hero_text img {
  width: 22%;
}

.node-type-cr-landing .promo_button {
  position: absolute;
  left: 10%;
  bottom: 0;
  width: 100%;
}

.node-type-cr-landing .promo_button a img {
  max-width: 22%;
}

.node-type-cr-landing .header_banner .field-name-field-hero-image {
  display: block;
}
.node-type-cr-landing .header_banner .field-name-field-mobile-hero-image {
  display: none;
}

.node-type-cr-landing .logobar {
  display:none;
}

.node-type-cr-landing .container.main-container {
    padding-top: 0px !important;
}

/** To eliminate image showing beneath the footer**/
body.node-type-cr-landing {
  background-size: 0px !important;
  background-image:none !important;
}

@media (max-width: 480px) {
  .node-type-cr-landing .header_banner .field-name-field-hero-image {
    display: none;
  }
  .node-type-cr-landing .header_banner .field-name-field-mobile-hero-image {
    display: block;
  }
  .node-type-cr-landing .hero_text img {
    width: 44%;
  }
  .node-type-cr-landing .promo_button a img {
    max-width: 44%;
  }

  .node-type-cr-landing .mobile-sites {
    text-align:center;
  }

  .node-type-cr-landing #block-views-cr-landing-previews-block .views-field-field-featured-image img {
    margin-bottom: -1px;
  }

}

@media (min-width: 992px) {
  .node-type-cr-landing #block-views-cr-landing-previews-block .col-md-5 {
    width: 48%;
  }
  .node-type-cr-landing #block-views-cr-landing-previews-block .views-row-odd {
    margin-right: 2%;
  }

  .node-type-cr-landing #block-views-cr-landing-previews-block .views-row-even {
    margin-left: 2%;
  }

}

/** LGBT Overrides **/

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .main-container {
  text-align: center;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .main-container .header_banner .field-name-field-hero-image img {
  width: 100% !important;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_wrapper.smokefreetxt_block {
  border: solid #1788f8 20px;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_wrapper.smokefreeus_instagram_block {
  border: solid #fc2a9f 20px;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_image img {
  width: 100%;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_bottom_border img {
  width: 101%;
  margin-left: -1px;
  overflow: visible;
}


/** Tiffany LGBT Edit 4-8-16 **/

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .main-container .syndicate .block .cr_landing_block_wrapper {
  display: inline-block;
  width: 49%;
  position: relative;
  min-height: 46em; 
  float: left;
  margin-bottom: 2em;
  background: #ffffff;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_bottom_border {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -1em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .header_banner {
  text-align: left;
  position: absolute;
  z-index: 1;
  background-color: #000000;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_wrapper.learn_about_quitting_block {
  border: solid #9f48f9 20px;
  margin-right: 2%;
  background: -moz-linear-gradient(top,  #c9fcf2 0%, #f3d6ef 100%) !important; /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #c9fcf2 0%,#f3d6ef 100%) !important; /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #c9fcf2 0%,#f3d6ef 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9fcf2', endColorstr='#f3d6ef',GradientType=0 ); /* IE6-9 */
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_wrapper.app_block {
  background: #2bfed3 url("/sites/all/themes/smokefreegov/images/fuchsia-paint.png") !important;
  background-repeat: no-repeat !important;
  background-position: bottom left !important;
  background-position: 90% 100% !important;
  margin-right: 2%;
  background-size: contain !important;
}
.node-type-cr-landing.smokefreegov-lgbt-and-smoking .app_description {
  background: #ffffff;
  width: 90%;
  margin: 1.5em auto;
  padding: 1em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking h2.cr_landing_block_header {
    font-size: 2em;
    font-weight: bolder;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .row {
  margin:0px;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .main-container.container, .node-type-cr-landing.smokefreegov-lgbt-and-smoking .row{
  background-color: #000000;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking #balancer {
    width: 70%;
    margin: 48% auto 0px;
    padding-top: 2%;
    text-align: center;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking section#block-block-6 {
    background-color:#000000;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .cr_landing_block_description {
    width: 70%;
    margin: 0px auto 4%;
    margin-bottom: 2%;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .cr_landing_block_button {
    background: url("/sites/all/themes/smokefreegov/images/accent.png");
    background-position: 97.5% 85%;
    background-repeat: no-repeat;
    width: 40%;
    background-color: #ffffff;
    border: solid 2px #000000;
    padding: 0.5em 1em;
    color: #000000;
    font-weight: bold;
    margin: 0.8em auto;
    display: block;
    font-size: 1.5em;

}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .accent-button a {

    background: url("/sites/all/themes/smokefreegov/images/accent.png");
    background-position: 99% 90%;
    background-repeat:no-repeat;
    width: 90%;
    border: solid 2px #000000;
    padding: 1em;
    font-weight: bold;
    margin: 0 auto 1em;
    display: block;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .cr_landing_block_description_text_signup {
  margin-bottom: 3em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .app_buttons {
  overflow: auto;
  /*padding-left: 4%;*/
  /*margin-bottom: 4em;
  margin-top: 1.5em;*/
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .apple_bad, .node-type-cr-landing.smokefreegov-lgbt-and-smoking .android_good {

  display: inline-block;
  margin: auto;
  /*float: left;*/
  /*width: 40%;*/
}



.node-type-cr-landing.smokefreegov-lgbt-and-smoking .cr_landing_block_image {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .get_social_body_button a {
  position: static;
  float: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  color: #333333;
  background-color: #ffffff;
  background-image: none;
  border: 2px solid #acacac !important;
  border-radius: 4px;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  white-space: nowrap;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 70%;
  height: auto;
  text-decoration: none;
}


  /*.node-type-cr-landing.smokefreegov-lgbt-and-smoking .yellow1 {
    background: url("/sites/all/themes/smokefreegov/images/rectangle-1.png");
    background-color: transparent;
    background-size: 100%;
    background-position:50%;
    background-repeat: no-repeat;
    width: 100%;
    padding: 2% 5%;
  }

  .node-type-cr-landing.smokefreegov-lgbt-and-smoking .yellow2 {
    background: url("/sites/all/themes/smokefreegov/images/rectangle-2.png");
    background-color: transparent;
  background-position:50%;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 5%;
  }

  .node-type-cr-landing.smokefreegov-lgbt-and-smoking .yellow3 {
    background: url("/sites/all/themes/smokefreegov/images/rectangle-3.png");
    background-color: transparent;
    background-size: contain;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    width: 75%;
    padding: 5%;
  }

  .node-type-cr-landing.smokefreegov-lgbt-and-smoking .yellow4 {
    background: url("/sites/all/themes/smokefreegov/images/rectangle-4.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    width: 110%;
    padding: 5% 0;
    -webkit-transform: skew(0deg, 1deg);
    transform: skew(0deg, 1deg);
  }

  .node-type-cr-landing.smokefreegov-lgbt-and-smoking .yellow5 {
    background: url("/sites/all/themes/smokefreegov/images/rectangle-5.png");
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 4% 0;
    width: 105%;
  } */

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .cr_landing_block_description_link a {

  text-align: center;
  color: #000;
  text-decoration: none;
  font-size: large;
  font-weight:bold;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .cr_landing_block_header_logo img {
  width: 60%;
  margin-bottom: 3em;
  margin-top: -1em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking div.cr_landing_block_wrapper.app_block div.cr_landing_block_image img {
  width: 60% !important;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .header_banner_logo img {
    margin-right: 3em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .header_banner_logo img.extra_logo {
  width: 9%;
}

/** LGBT responsiveness  - Tiffany **/

@media only screen and (min-width: 1281px) {

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .app_buttons {
  /*padding-left: 9.5%;*/
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .apple_bad, .node-type-cr-landing.smokefreegov-lgbt-and-smoking .android_good {
    /*width: auto;*/
  }

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .apple_bad img, .node-type-cr-landing.smokefreegov-lgbt-and-smoking .android_good img {
  /*width: 85%;*/
  height: 3em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking #balancer {
  max-width:70em;
}


}

@media only screen and (max-width: 1280px) {

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .apple_bad, .node-type-cr-landing.smokefreegov-lgbt-and-smoking .android_good {
    /* width: 50%; */

  }

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .apple_bad img, .node-type-cr-landing.smokefreegov-lgbt-and-smoking .android_good img {
  /* width: 65%;*/
   height: 3em;
}

/*.node-type-cr-landing.smokefreegov-lgbt-and-smoking #balancer {
    width: 80%;
}*/

/*.node-type-cr-landing.smokefreegov-lgbt-and-smoking .yellow2 {
    width: 90%;
    padding: 6% 0;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .yellow3 {
    width: 60%;
    padding: 5%;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .yellow4 {
    width: 95%;
    padding: 5% 0;
}*/

}

@media only screen and (max-width: 992px) {

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .apple_bad, .node-type-cr-landing.smokefreegov-lgbt-and-smoking .android_good {
      /*width: auto;*/
  }

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .apple_bad img, .node-type-cr-landing.smokefreegov-lgbt-and-smoking .android_good img {
    height:2.5em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .main-container .syndicate .block .cr_landing_block_wrapper {
    min-height: 35em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking #balancer {
    width: 80%;
    margin: 45% auto 0px;
}

/*.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_wrapper.app_block {
  border: 20px solid #2BFED2;
}*/

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_wrapper.learn_about_quitting_block {
  border: solid #9f48f9 20px;

}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_wrapper.smokefreetxt_block {
  border: solid #1788f8 20px;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_wrapper.smokefreeus_instagram_block {
  border: solid #fc2a9f 20px;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_bottom_border {
    margin-bottom: -1em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .cr_landing_block_header_logo img {
    width: 60%;
    margin-top: -1em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking h2.cr_landing_block_header {
    font-size: 1.5em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .cr_landing_block_description {
    width: 90%;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .cr_landing_block_header_logo img {
    margin-bottom: 1em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .cr_landing_block_button {
  font-size: 1.2em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .cr_landing_block_description_link a {
  font-size: medium;
}

}

@media only screen and (max-width: 786px) {

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .cr_landing_block_description_link a {
    font-size: small;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .cr_landing_block_button {
  font-size: 1em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .apple_bad img, .node-type-cr-landing.smokefreegov-lgbt-and-smoking .android_good img {
    height:2em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .header_banner_logo img {
    margin-right: 1em;
}

}

@media only screen and (max-width: 640px) {

.node-type-cr-landing.smokefreegov-lgbt-and-smoking #balancer {
    margin: 47% auto 0px;
    width: 70%;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .main-container .syndicate .block .cr_landing_block_wrapper {
    width: 100% !important;
    min-height: 40em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking div.cr_landing_block_wrapper.app_block div.cr_landing_block_image img {
  width: 60% !important;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_wrapper.app_block {
  /*border: 20px solid #2BFED2;*/
  margin-right:0;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_wrapper.learn_about_quitting_block {
  border: solid #9f48f9 20px;
  margin-right: 0;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_wrapper.smokefreetxt_block {
  border: solid #1788f8 20px;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_wrapper.smokefreeus_instagram_block {
  border: solid #fc2a9f 20px;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_bottom_border {
  margin-bottom: -1em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .apple_bad img, .node-type-cr-landing.smokefreegov-lgbt-and-smoking .android_good img {
 /* width: 80%;*/
  height: 3em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .header_banner_logo img {
    margin-right: 1em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .header_banner_logo img {
  margin-right: 1em;
  margin-top:0;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .yellow1 {
    width: 70%;
    padding: 3% 5%;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .yellow3 {
    width: 60%;
    padding: 4% 3%;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .cr_landing_block_header_logo img {
    margin-bottom: 1em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .yellow2 {
    width: 70%;
    padding: 4% 0px;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .yellow4 {
    width: 70%;
    padding: 4% 0px;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .yellow5 {
    padding: 3.5%;
    width: 80%;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking h2.cr_landing_block_header {
    font-size: 2em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .cr_landing_block_header_logo img {
    width: 55%;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .cr_landing_block_button {
  font-size: 1em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .header_banner_logo a img {
  width: 20%;
  float: left;
  clear: both;
}

.node-type-cr-landing .hero_text {
    position: relative;
    float: left;
    margin-top: -26%;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .header_banner_logo img.extra_logo {
    width: 12%;
    float: left;
    clear: both;
}

}

@media only screen and (max-width: 480px) {

.node-type-cr-landing.smokefreegov-lgbt-and-smoking #balancer {
    margin: 100% auto 0;
    width: 80%;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .main-container .syndicate .block .cr_landing_block_wrapper {
    width: 100% !important;
    min-height: 35em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .apple_bad img, .node-type-cr-landing.smokefreegov-lgbt-and-smoking .android_good img {
  height: 2em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking h2.cr_landing_block_header {
    font-size: 1.5em;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_wrapper.app_block {
    /*border: 15px solid #2BFED2;*/
    margin-right: 0px;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_wrapper.learn_about_quitting_block {
  border: solid #9f48f9 15px;
  margin-right: 0px;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_wrapper.smokefreetxt_block {
  border: solid #1788f8 15px;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .block .cr_landing_block_wrapper.smokefreeus_instagram_block {
  border: solid #fc2a9f 15px;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .cr_landing_block_button {
  font-size: 1em;
}

/*.node-type-cr-landing.smokefreegov-lgbt-and-smoking .yellow4 {
    width: 97%;
    padding: 4% 0px;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .yellow2 {
    width: 88%;
    padding: 7% 0px;
}*/

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .header_banner_logo a img {
    width: 20%;
    float: left;
    clear: both;
    margin-left: -7%;
    margin-top: 6%;
}

.node-type-cr-landing .hero_text {
    position: relative;
    float: left;
    margin-top: -65%;
    margin-left: -5%;
}

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .header_banner_logo img.extra_logo {
    width: 20%;
    float: left;
    clear: both;
    margin-left: -8%;
    margin-top: -1%;
}

}

@media only screen and (min-width: 320px) and (max-width: 360px) {

.node-type-cr-landing.smokefreegov-lgbt-and-smoking .main-container .syndicate .block .cr_landing_block_wrapper {
    width: 100% !important;
    min-height: 33em;
}

/*.node-type-cr-landing.smokefreegov-lgbt-and-smoking .yellow5 {
    padding: 3.5%;
    width: 95%;
}*/

}

/** Adjusts LGBT hero text  - Doug **/
.node-type-cr-landing.smokefreegov-lgbt-and-smoking .hero_text img {
  width: 33%;
}

@media screen and (max-width: 1280px) {
  .node-type-cr-landing.smokefreegov-lgbt-and-smoking .cr_landing_block_image img {
    margin-bottom: -15%;
  }
}






