.node-disclaimer .page_title h2 a {
  background-image: url("/sites/all/themes/smokefreegov/images/blog/title_bg_one.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size:cover;
  width: 100%;
  max-width: 900px;
  padding: 1.2em;
  color: #ffffff;
  display: block;
}

.mhealthmonitor_logo .mhealth_logo img {
  max-width: 100%;
}


.node-disclaimer .page_title h2 {
  max-width: 900px;
}


.node-type-disclaimer .content-container ul,
.node-type-disclaimer .content-container ol {
  padding-bottom:13px;
  padding-left:40px;
  font-size:16px;
  line-height:24px;
  color:#4A4A4A;

}

