/* Footer */

footer{
	padding-top:40px;
	padding-bottom:40px;
	margin-top: 40px;
	}
.footer-container {
	background-color:#606060;
	color:#ffffff;
	list-style:none;
	font-family: 'Cabin', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:24px;	padding-left:0px;
	padding-right:0px;
}

.footer-container a{
	color:#ffffff;
}
#footer .container {
  background-color: #606060 !important;
}
#footer-menu .nav .open  > a,
#footer-menu .nav .open > a:hover,
#footer-menu .nav .open > a:focus {
  background-color: inherit;
  border-color: inherit;
}

#footer-menu .nav > li > a:hover,
#footer-menu .nav > li > a:focus {
  text-decoration: underline;;
  background-color: inherit;
}

.footer-container .footer_menu {
  margin-bottom: 50px;
}

.footer-container .container {
  padding-left: 0;
  padding-right: 0;
}

.footer-container .footer_menu,
.footer-container .container {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1200px) {
  .footer-container .container,
  .footer-container .footer_menu {
    width: 1150px;
  }
}

.footer-container ul li.expanded {
  float: left;
  width: 16.3%;
  padding-right: 3%;
}

.footer-container li.expanded ul li.leaf a {
  font-size: 13px;
  font-family: Cabin, sans-serif;
  font-weight: normal;
  padding-left: 0px;
}

.footer-container li.expanded a {
  font-size: 16px;
  font-family: Cabin, sans-serif;
  font-weight: bold;
  line-height: 24px;
  padding-left: 0px;
}

/* End Footer */

.widget-box {
	position: relative;
}

.widget {
	float:right;}

.help-row{
	font-family: 'Cabin', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:18px;
	padding-bottom:15px;
	color:#949494;
	display:block;

	}

.help-row a{
	color:#ffffff;
	font-weight:700;
	padding-left:5px;
	padding-right:5px;
	text-decoration:none;
	}
.help-row a:first-child	{
	padding-left:0px;
	}



.smokefree-row {padding-bottom:10px; }
.smokefree-row	img{
margin-right:12px;
vertical-align:top;
}


.sitemap-row{
	font-family: 'Cabin', "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	line-height:24px;
	padding-bottom:20px;
	display:block;
	text-decoration:none;
	}

.sitemap-row a{
	color:#ffffff;
	text-decoration:none;
	}
.sitemap-row a:after{
	content: " | ";
	color:#949494;
	padding-left:5px;
	padding-right:5px;
	text-decoration:none !important;
	pointer-events: none;

}

.sitemap-row a:last-child:after{
	content: " ";
	color:#949494;
	padding-left:5px;
	padding-right:5px;
	text-decoration:none;
	pointer-events: none;

}

.sitemap-row a:first-child	{
	padding-left:0px;
	}

/* Footer Icons*/

.icon-row{
display:block !important;}

.footer-icons {
	letter-spacing: 5px;
	color: #2A2A2A;
	display: block;
	float:left;
	margin-right:10px;
	margin-bottom:15px;

}

.footer-icons div {
	display: inline-block;
	height: 30px;
}

.footer-icons .share {
	vertical-align: super;

}

.footer-icons .icon {
	background-image: url('../images/footer/footer-icons@2x.png');
	width: 30px;
	background-repeat: no-repeat;
	background-size: 130px 62px;
	vertical-align: baseline !important;
	background-position-y: 0px;
	cursor: pointer;
	margin-right:5px;
}

.footer-icons .facebook{
    background-position: 0px 0px;
}
.footer-icons .instagram{
	background-position:  -49px 0px;
}
.footer-icons .twitter{
	background-position: -99px 0px ;
}



.footer-icons .facebook:hover {
	background-position: 0px -32px !important;
}
.footer-icons .instagram:hover {
	background-position: -49px -32px !important;
}
.footer-icons .twitter:hover {
	background-position: -99px -32px !important;
}

/* HOVER*/

footer a:hover{color:#ffffff;
}

/* MEDIA QUERIES*/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* less than 764px */
@media only screen and (max-width: 764px) {
.widget {
	width:150px;
	height:120px;
	float:left;}
footer a{text-decoration:none !important;}
.smokefree-row img{display:block; margin-bottom:8px;}
.smmargin{margin-bottom:4px !important;}
}

/* No greater than 991px, no less than  767px */
@media screen and (min-width: 767px) and (max-width: 991px) {
	.widget {
		width:170px;
		height:130px;
		float:right;
	}
.smokefree-row {padding-bottom:3px; }
footer a{text-decoration:none !important;}

}

@media (min-width: 768px) and (max-width: 991px) {
  #footer .container,
  #footer .footer_menu {
    width: 750px !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #footer .container,
  #footer .footer_menu {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  #footer .container,
  #footer .footer_menu {
    width: 1150px !important;
  }
}

@media (max-width: 767px) {
  #footer .container {
    padding-left: 15px;
  }
}

@media (max-width: 767px) {
  .widget {
    display: block;
    margin: 0 auto;
    float: none !important;
  }
}

/* Boxes */
.widget-box {
	position: relative;
	min-height: 1px;
}

.left-box {
	position: relative;
	min-height: 1px;
}

@media (min-width: 768px) {
.widget-box  {
	float: left;
}
.left-box {
	width: 75%;
	float: left;
}
}

/* remove external links icon */

#footer span.ext {
  display:none;
}

@media only screen and (max-width: 767px) {
	.node-type-section-landing .footer-container .hidden-xs {
		display: none !important;
	}

	#footer footer .container .left-box .iconrow .footer-icons a {
		width: 52px;
		float: left;
		display: inline-block;
	}
}

.live-chat-bar {
	width:100%;
	@media only screen and (max-width: 600px) {
	position: fixed;
	bottom: 0px;
	z-index: 1001;
		img {
          padding: 0px;
        }
		button {
			border: 0px;
		}
	}
	@media (min-width: 601px) {
		display:none;
	}
}
section#block-boxes-live-char-bar {
	@media (min-width: 601px) {
		display:none;
	}
}




