.node-type-include {
  p {
    font-family: 'Cabin', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4A4A4A;
    padding-bottom: 15px;
    margin: 0px;
  }
  .fact {
    margin-top: -25px;
    margin-bottom: -20px;
  }
  .description {
    width: 95%;
  }
  @media only screen and (max-width: 979px) {
    .container.main-container {
      padding-left: 4% !important;
      padding-right: 4% !important;
    }
  }
  .btn-program {
    color: #ffffff;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
    width: 60%;
    a {
      background-color:#0C6AB1 !important;
      font-size: 20px !important;
      line-height: 30px !important;
      font-weight: 500;
      text-transform: capitalize;
      font-family: 'Cabin', sans-serif;
      text-decoration: none;
      color: white;
    }
    a {
      display: inline-block;
      color: #ffffff;
      padding: 15px 50px;
      width: 100%;
      text-align: center;
    }


    a:hover{
      background-color:#0A558E !important;
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    @media only screen and (max-width: 768px) {
        max-width: 600px;
        width: 100% !important;
        padding: 10px 0px 0px 0px !important;
    }
  }
}