/* Layout 3: Tablet (large) */
@media only screen 
	and (min-width : 767px)
	and (max-width : 979px) {
	
	BODY {
		background-size:     auto 100%;
		overflow-x: hidden;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	}	
	.sites-container {
		display: inline;
		float: left;
		padding-top: 0.5em !important;
	}	
	.quit-plan-text {
		display: inline-block;
    	vertical-align: top;
	}
	.sites-container {
		display: inline;
		float: left;
		padding-top: 0px !important;
	}
	.links-container-qp {
		border: medium none;
		display: inline;
		float: left;
		margin-left: 0.854%;
		padding-top: 0.5em;
		text-align: left;
	}
	#carouselButtons {
		float: right;
		bottom: 40px;
		position: relative;
		right: 30px;
		width:100%;
	}
	.carousel-inner {
		margin-left:-2em !important;
	}
	.grid_layout{
		display:none;
	}
	#search-footer {
		display:none;
	}
	.img-responsive {
		display: block;
		height: auto;
		max-width: 100%;
		padding-bottom: 5px;
		width: auto !important;
	}
	.navbar UL.nav {
		display: inline;
		float: left;
		margin-top: 10%;
		padding: 0;
		position: relative;
		width: 65%;
	}	
	.mouseOver {
		margin-left: 10% !important;
		width: 85% !important;
	}
	.grid {
		display:none; 
		width:75%;
	}
	.features_layout{
		right:5% !important;
	}
	.smaller_grid{
		 display:block; 
		 margin-top:25px;
	} 
	.quitPlan_Img {
		float:left;
	}
	.smokeFree_Img {
		float:left;
	}
	.joinUs_Img{
		float:left;
	}
	
	/* Logo */
	.logo-container {
		display:             block;
		float:               left;
		margin-left:		4em;
		margin-top:          6em;
		min-width:           164px;
		width:               21%;
	}
	.logo-container A {
		display:             block;
		float:               left;
		font-size:           1.333em;
		line-height:         3.2428em;
		width:               100%;
	}
	.logo {
		background-image: url('../images/header/smokefree-hd1-logo-tablet-63x62.png');
		background-size: 100% auto;
		width: 50%;
	}
	.logo-image,
	.logo-image IMG	{
		height: 100%;
	}
	
	/* Mobile button (hidden) */
	.mobile-btn {
		//display: none;
		//opacity: 0;
	}
	.speak {
		width: 30% !important; 
		margin-bottom:10px; 
		height: 270px !important;
	}
	.quitPlan {
		width: 31% !important; 
		margin-bottom:10px; 
		height: 270px !important;
	}
	.awards {
		width: 31% !important; 
		margin-bottom:10px; 
		height: 270px !important;
	}
	.navbar UL.nav LI {
		line-height: 3.142em;
		width: 10%;
	}
	.navbar UL.nav A {
		font-size: 1.333em;
		line-height: 1.07143em;
		min-height: 2.2em;
		padding:1em 1% 0.1em;
		width: 90%;
	}
	.navbar .menu.nav UL.dropdown-menu {
		width: 155%;
	}
	.navbar.nav .nav .last ul.dropdown-menu {
		width: 125.5%;
		left: -27%;
	}
	.navbar .menu.nav UL.dropdown-menu A, 
	.navbar .menu.nav UL.dropdown-menu A:active, 
	.navbar .menu.nav UL.dropdown-menu A.active-trail, 
	.navbar .menu.nav UL.dropdown-menu A.active-trail:focus, 
	.navbar .menu.nav UL.dropdown-menu A.active-trail:link, 
	.navbar .menu.nav UL.dropdown-menu A.active-trail:visited {
		font-size: 1.1em;
	}
	
	/* Tag line */
	.tagline P {
		font-size:           1.9264em;
		line-height:         1.1013em;
		margin:              0.54109em 1.143%;
		min-height:          30px;
		z-index:             2;
	}
	
	/* Bottom header border */
	.node-type-page .nav-bottom-border,
    .node-type-cr-article .nav-bottom-border,
    .node-type-blog-entry .nav-bottom-border,
	.node-type-veterans .nav-bottom-border,
	.node-type-webform .nav-bottom-border,
	.node-type-done .nav-bottom-border	{
		padding:             0.6em;
	}
	.main-container {
		padding-top:1.125em;
	}
	.node-type-page .col-sm-3 ul li.li-third,
    .node-type-cr-article .col-sm-3 ul li.li-third,
    .node-type-blog-entry .col-sm-3 ul li.li-third,
    .node-type-veterans .col-sm-3 ul li.li-third {
		border-bottom: none;
	}
	/** Logo Bar **/
	.social-container {
		display: inline;
		float: left;
		width: 30.791%;
		padding: .5em .5em .5em;
	}
	.logobar .social {
		display: inline;
		float: left;
		margin-left: 2.708%;
		position: relative;
	}
    .logobar.half-width .social-container {
      width: 30% !important;
      margin-left: 0px;
    }

	.links-container-txt {
		display: inline;
		float: left;
		margin-left: 5%;
		padding-top: .5em;
		text-align: left;
	}
    .logobar.half-width .links-container-txt {
      width: 30%;
    }
	.links-container-txt img {
		clear: right;
		float: left;
		vertical-align: middle;
	}
	.links-container-qp {
		display: inline;
		float: left;
		margin-left: 0.854%;
		padding-top: .5em;
		text-align: left;
		width: 30.0%;
	}
    .logobar.half-width .links-container-qp {
      width: 30%;
    }
	.links-container-txt img {
		clear: right;
		float: left;
		vertical-align: middle;
	}
	.logobar .links {
		display: inline;
		position: relative;		
	}
	.logobar .links a,
	.logobar .links p {
		color: #fff;
		display: inline;
		float: right;
		font-size: 1em;
		line-height: 1.785em;
		margin-left: 0.18%;
		text-decoration: none;
	}

    .logobar.half-width .links a,
    .logobar.half-width .links p {
      margin-left: 0px;
    }

	.logobar .links a:hover {
		color: #fff;
		font-size: 1em;
	}	
	.smokefree-txt-icon {
		display: inline-block;
		clear: none;
		float: left !important;
		margin: 0;
		padding: 0;
	}
	.quit-plan-icon {
		display: inline-block;
	}
	.sites-container {
		display: inline;
		float: left;
		margin-left: 6.3%;
		padding-top: 0.5em;
		width: 18%;
	}
	.facebook-icon {
		display: inline-block;
		
		padding-left: .6em;
	}
	.twitter-icon {
		display: inline-block;
	}
	.smokefree-txt-text {
		display: inline-block;
		padding-top: .5em;
		vertical-align: top;
	}
	.quit-plan-text {
		display: inline-block;
		padding-top: .5em;
		vertical-align: top;
	}
	.desktop-sites,
	.veterans-desktop-sites {
		display: none;
	}
	.veterans.smokefree-txt-text {
		display:none;
	}
	.veterans.quit-plan-text {
		display:none;
	}
	.veterans-mobile-sites img {
		padding-top:.8em;
		margin-left:1em;
	}
	.bottom-border {
		border-bottom: 7px solid #264C59;
		display: block; 	
		float: left;
		position: relative;
		width: 100%;
	}
	.footer {
		text-align: center !important;
		padding-left: 5em;
	}
	.footer .footer-links ul {
		line-height: 0.758em;
		margin-bottom: 10px;
	}
	.footer .footer-links li {
		display: inline;
		margin-left: 0.05%;
	}
	.footer .nih-copy {
		text-align:center !important;
	}
	#searchbox-footer {
		width: 92.55291%;
	}
	#search-header {
		display:none;
		opacity: 0;
		visibility: hidden;
	}
	.logobar .sites{
		display:none !important;
	}
	.awards h2 {
		font-size:1em !important;
	}
	.speak h2 {
		font-size:1em !important;
	}
	.quitPlan h2{
		font-size:1em !important;
	}
	/* Layout 3: Additional */
	.col-sm-12 {
		margin-left: 0;
	}
	.logo_area{color:#333333; margin-left: 8%; }
	.tagline_responsive{display:none;}
	.describe{padding:10px; color:#fff;}
	.describe h2 {line-height:1.2; font-size:1.2em !important;}
	.describe p {color:#fff; font-size:1.1em;}
	.page-node-133 .btn {
		background: url("../images/health-effects/arrow_link.png") no-repeat scroll 4px 0 rgba(0, 0, 0, 0);
		bottom: 0;
		border:none !important;
		cursor: pointer;
		display: inline-block;
		float: right;
		height: 20px;
		line-height: 20px;
		margin: 10px;
		padding: 4px 12px;
		position: absolute;
		right: 0;
		width:10px;
	}
	.page-node-136 .btn {
		background: url("../images/health-effects/arrow_link.png") no-repeat scroll 4px 0 rgba(0, 0, 0, 0);
		bottom: 0;
		border:none !important;
		cursor: pointer;
		display: inline-block;
		float: right;
		height: 20px;
		line-height: 20px;
		margin: 10px;
		padding: 4px 12px;
		position: absolute;
		right: 0;
		width:10px;
	}
	.page-node-134 .btn  {
		background: url("../images/health-effects/arrow_link.png") no-repeat scroll 4px 0 rgba(0, 0, 0, 0);
		bottom: 0;
		border:none !important;
		cursor: pointer;
		display: inline-block;
		float: right;
		height: 20px;
		line-height: 20px;
		margin: 10px;
		padding: 4px 12px;
		position: absolute;
		right: 0;
		width:10px;
	}
	.page-node-135 .btn  {
		background: url("../images/health-effects/arrow_link.png") no-repeat scroll 4px 0 rgba(0, 0, 0, 0);
		bottom: 0;
		border:none !important;
		cursor: pointer;
		display: inline-block;
		float: right;
		height: 20px;
		line-height: 20px;
		margin: 10px;
		padding: 4px 12px;
		position: absolute;
		right: 0;
		width:10px;
	}	
	.page-node-137 .btn  {
		background: url("../images/health-effects/arrow_link.png") no-repeat scroll 4px 0 rgba(0, 0, 0, 0);
		bottom: 0;
		border:none !important;
		cursor: pointer;
		display: inline-block;
		float: right;
		height: 20px;
		line-height: 20px;
		margin: 10px;
		padding: 4px 12px;
		position: absolute;
		right: 0;
		width:10px;
	}
	.page-node-138 .btn {
		background: url("../images/health-effects/arrow_link.png") no-repeat scroll 4px 0 rgba(0, 0, 0, 0);
		bottom: 0;
		border:none !important;
		cursor: pointer;
		display: inline-block;
		float: right;
		height: 20px;
		line-height: 20px;
		margin: 10px;
		padding: 4px 12px;
		position: absolute;
		right: 0;
		width:10px;
	}
	.tab_1, .tab_2, .tab_3 {
		position: relative;	
		float: left;  	
		width: 98%;	
		padding: 4px;	
	}
	.tab_1 {
		background: none repeat scroll 0 0 #608018;
		margin-right: 5px;
		margin-bottom:5px;
	}
	.tab_2 {
		background: none repeat scroll 0 0 #0A5371;
		margin-right: 5px;
		margin-bottom:5px;
	}
	.tab_3 {
		background: none repeat scroll 0 0 #b56000;
	}	
	#carouselButtons
	{
		float: right;
		bottom: 10px;
		position: absolute;
		right: 30px;
	}
	.features li {list-style:none outside none; padding:0px; padding-bottom:0px; padding-top:0px; }
	h4, .h4 {
		font-size: 16px !important;
		font-weight: bold;
	}
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: auto !important;
	}
	.sites-container {
		display: inline;
		float: left;
		padding-top: 0.5em !important;
	}
	.page-node-137 .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width:auto !important;
	}
	.page-node-134 .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width:auto !important;
	}
	.page-node-133 .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width:auto !important;
	}
	.page-node-135 .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width:auto !important;
	}
	.page-node-99 .container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width:auto !important;
	}
	.tagline{border:1px solid #ccc;}
		.tagline P {
		font-size: 1.57em;
		line-height: 1.1013em;
		margin: 0.51904em 4.9793% 0.51904em 1.6667%;
		min-height: 38px;
		width: 62.8414%;
		z-index: 2;
	}
	.grid {
		padding: 0 0 0 14% !important; display:none;
	}
	.smaller_grid {
		background-color: #FFFFFF;
		list-style: none outside none;
		max-width: 1300px;
		text-align: left;
		width:100%;
		margin-top:2% !important;
	}
	.logo_area{color:#333333; margin-left: 8%; }
	.features {margin-left:100px; padding-top:15px; width:100%;}
	.mouseOver{margin-left:18%; width:70%;}
	.rule {margin:0 auto; width:80%;}
	.node-type-page .row .col-sm-9,
    .node-type-cr-article .row .col-sm-9,
    .node-type-blog-entry .row .col-sm-9,
	.node-type-veterans .row .col-sm-9 {
		line-height:         1.55em;
		margin:              1em 1.5793% 0;
		min-height:          auto;
		width:               96.8414%;
	}
	.node-type-webform .row  .content-container,
	.node-type-done .row .content-container,
	.node-type-custom .row  .content-container {
		margin:              1em 1.5793% 0;
		width:               96.8414%;		
	}
	.node-type-webform .col-sm-9 .page-content-container,	
	.node-type-custom .col-sm-9 .page-content-container,
	.node-type-done .col-sm-9 .page-content-container,
	.node-type-page .row .col-sm-9 .page-content-container,
    .node-type-cr-article .row .col-sm-9 .page-content-container,
    .node-type-blog-entry .row .col-sm-9 .page-content-container,
    .node-type-veterans .row .col-sm-9 .page-content-container {
		margin:              2.9787%;
		width:               94.0426%;	
		font-size: 			 1.2em;
	}
	.node-type-webform .col-sm-9 .page-content-container {
		font-size: 			 1em;
	}
	.node-type-page .col-sm-3,
    .node-type-cr-article .col-sm-3,
    .node-type-blog-entry .col-sm-3,
    .node-type-veterans .col-sm-3 {
		line-height:         1.55em;
		margin:              1em 1.5793% 1em;
		min-height:          auto;
		width:               96.8414%;
	}
	aside .image-area  {
		float: 				left;
		margin-bottom:       0;
		width:               41.621%;
	}
	aside .sidebar-image {
		margin-bottom: 0;
	}
	.link-area {
		display: block;
		float: left;
		margin: 0;
		padding: 0;
		width: 58.2%;
	}
	.node-type-page .col-sm-3 ul li,
    .node-type-cr-article .col-sm-3 ul li,
    .node-type-blog-entry .col-sm-3 ul li,
    .node-type-veterans .col-sm-3 ul li {
		padding-bottom: 0;
		padding-left: 3.5%;
	}
	.node-type-page .region-sidebar-second,
    .node-type-cr-article .region-sidebar-second,
    .node-type-blog-entry .region-sidebar-second,
    .node-type-veterans .region-sidebar-second  {
		width: 100%;
	}
	.node-type-page .sidebar-image IMG,
    .node-type-cr-article .sidebar-image IMG,
    .node-type-blog-entry .sidebar-image IMG,
    .node-type-veterans .sidebar-image IMG {
		max-width: 384px;
	}
	aside .sidebar-link p {
		margin-bottom: .5em;
	}
	aside .image-note {
		vertical-align: bottom;
		width: 7%;
	}
	
	/* Tab styles */
	.node-type-page .col-sm-9   article #myTab li, 
	.node-type-page .col-sm-9 article .nav-pills li,
    .node-type-cr-article .col-sm-9   article #myTab li,
    .node-type-cr-article .col-sm-9 article .nav-pills li,
    .node-type-blog-entry .col-sm-9   article #myTab li,
    .node-type-blog-entry .col-sm-9 article .nav-pills li,
	.node-type-veterans .col-sm-9   article #myTab li, 
	.node-type-veterans .col-sm-9 article .nav-pills li {
		min-width: 33%;
	}
	.features {
		margin-left: 10.3333%;
		width: 100%;
	}		
	.navbar UL.nav LI {
		border-left: none;
		color: #FFFFFF;
		float: left;
		font-size: 16px;
		margin-bottom: 0;
		margin-right: 0;
		text-align: left;
		text-decoration: underline !important;
	}
	.navbar UL.nav A {
		font-size: 16px;
		line-height: 1.07143em;
		width: 90% !important;
	}
	.logo {
		background-image: url("../images/header/smokefree-hd1-logo-tablet-63x62.png");
		background-size: 75% auto;
		width: 50%;
	}
	.logo-container {
		display: block;
		float: left;
		margin-left: 4em;
		margin-top: 3em;
		min-width: 164px;
		width: 21%;
	}
	.navbar .nav {
		margin-bottom: 10px;
	}	
	.navbar UL.nav {
		display: inline;
		float: left;
		margin-top: 3%;
		padding: 0;
		position: relative;
		width: 90%;
	}
	.navbar UL.nav A {
		font-size: 14px;
	}
	.navbar UL.nav LI {
		line-height: 3.142em;
		width: 13%;
	}
	.navbar UL.nav LI:nth-child(2), .navbar UL.nav LI:nth-child(3)  {
		width: 16%;
	}

	.navbar UL.nav LI.last a:hover {
    border-bottom: 3px solid #000000;
    padding-bottom: 0px;
	}

	.navbar UL.nav LI.last a {
    color: #000000;
    padding-bottom: 1px;
    padding-top: 4px;
    background: #FFFFFF;
    margin-left: 35px;
	}
	.navbar UL.nav LI.last A:active,
	.navbar UL.nav LI.last A.active-trail,
	.navbar UL.nav LI.last A.active-trail:focus,
	.navbar UL.nav LI.last A.active-trail:link,
	.navbar UL.nav LI.last A.active-trail:visited {
    padding-bottom: 1px;
	}
	.navbar UL.nav LI.last {
		width: 14.5%;
	}
	.rule {
		margin: 0 auto;
		width: auto !important;
	}
	
	/* Search field */
	#search-header {
		background:          none;
		display:             block;
		float:               right;
		/*font-family:         Arial,​Helvetica,​sans-serif;*/
		margin:              1.2143em 6% 0;
		padding:             0px;
		position:            relative;
		right:               0px;
		top:                 0px;
		width:               45%;
	}
	#search-header {
		
		opacity: 1;
		visibility:visible;
	}
	#search-header FORM {
		display:             inline;
		float:               none;
		margin:              0;
		padding:             0;
		position:            relative;
		top:                 0;
	}
	#search-header #search-header-container {
		display:             block;
		float:               right;
		line-height:         0;
		margin:              0;
		padding:             0;
		position:            relative;
		top:                 0;
		white-space:         nowrap;
		width:               60%;
	}	
	#search-header #searchbox-header {
		background-color:    transparent;
		background-image:    url("../images/footer/smokefree-ftr8-search-bg-mobile-4x35.png");
		background-repeat:   repeat;
		border:              none;
		color:               #373737;
		float:               right;
		font-size:           1.2em;
		height:              2.1429em;
		line-height:         2.5714em;
		margin-right:        40px;
		min-height:          36px;
		position:            relative;
		top:                 0;
		width:               87%;
	}
	#search-header .search-button {
		background-position: 50% center;
		border:              0;
		float:               right;
		/*font-family:         Arial,​Helvetica,​sans-serif;*/
		font-size:           1.2em;
		height:              2.1429em;
		line-height:         1em;
		margin:              0;
		min-height:          36px;
		padding:             0;
		position:            absolute;
		right:               0;
		top:                 0;
		width:               40px;
	}
	.logobar .half-width {
		width: 55% !important;
	}
	.logobar .links {
		margin-left: 1em;
	
	}
	.links-container-qp {
		border: medium none;
		display: inline;
		float: left;
		margin-left: 0.854%;
		padding-top: 0.5em;
		text-align: left;
		width: 15.542%;
	}
	.links-container-txt {
		display: inline;
		float: left;
		margin-left: 0.416%;
		padding-top: .5em;
		text-align: left;
	}
	.sites-container {
		display: inline;
		float: left;
		padding-top: 1.5em !important;
	}
	.smokefree-txt-icon {
		clear: none;
		float: none;
		margin: 0;
		padding: 0;
	}
	.logobar .half-width-sites {
		width: 45% !important;
	}
	.logobar .sites{display:inline;}
	.sites-container{display:inline; float:left; padding-top: 0.5em !important; }
	.page-node-137 .nih-copy{   color: #FFFFFF;
		line-height: 2.586em;
		text-align: center;
		width: auto;
	}
	.page-node-137 .logobar {
		background: none repeat scroll 0 0 #0A5371;
		display: block;
		float: left;
		position: relative;
		width: 100%;
		z-index: 2000;
	}
	.page-node-99 .logobar {
		background: none repeat scroll 0 0 #0A5371;
		display: block;
		float: left;
		position: relative;
		width: 100%;
		z-index: 2000;
	}
	.page-node-134 .logobar {
		background: none repeat scroll 0 0 #0A5371;
		display: block;
		float: left;
		position: relative;
		width: 100%;
		z-index: 2000;
	}
	.page-node-135 .logobar {
		background: none repeat scroll 0 0 #0A5371;
		display: block;
		float: left;
		position: relative;
		z-index: 2000;
	}
	.page-node-136 .logobar {
		background: none repeat scroll 0 0 #0A5371;
		display: block;
		float: left;
		position: relative;
		width: 100%;
		z-index: 2000;
	}
	.page-node-133  .logobar {
		background: none repeat scroll 0 0 #0A5371;
		display: block;
		float: left;
		position: relative;
		width: 100%;
		z-index: 2000;
	}
	.page-node-137 .footer {
		background-color: #424242;
		background-image: none;
		color: #FFFFFF;
		display: block;
		float: none;
		font-size: 1em;
		height: auto;
		line-height: 2.428em;
		padding-top: 10px;
		position: relative;
		text-align: center;
		width: 100%;
		z-index: 1000;
	}
	.page-node-99 .footer {
		background-color: #424242;
		background-image: none;
		color: #FFFFFF;
		display: block;
		float: none;
		font-size: 1em;
		height: auto;
		line-height: 2.428em;
		padding-top: 10px;
		position: relative;
		text-align: center;
		width: auto;
		z-index: 1000;
	}	
	.page-node-134 .footer {
		background-color: #424242;
		background-image: none;
		color: #FFFFFF;
		display: block;
		float: none;
		font-size: 1em;
		height: auto;
		line-height: 2.428em;
		padding-top: 10px;
		position: relative;
		text-align: center;
		width: auto;
		z-index: 1000;
	}
	.page-node-135 .footer {
		background-color: #424242;
		background-image: none;
		color: #FFFFFF;
		display: block;
		float: none;
		font-size: 1em;
		height: auto;
		line-height: 2.428em;
		padding-top: 10px;
		position: relative;
		text-align: center;
		width: auto;
		z-index: 1000;
	}	
	.page-node-136 .footer {
		background-color: #424242;
		background-image: none;
		color: #FFFFFF;
		display: block;
		float: none;
		font-size: 1em;
		height: auto;
		line-height: 2.428em;
		padding-top: 10px;
		position: relative;
		text-align: center;
		width: auto;
		z-index: 1000;
	}	
	.page-node-133 .footer {
		background-color: #424242;
		background-image: none;
		color: #FFFFFF;
		display: block;
		float: none;
		font-size: 1em;
		height: auto;
		line-height: 2.428em;
		padding-top: 10px;
		position: relative;
		text-align: center;
		width: auto;
		z-index: 1000;
	}
	
	/* SmokefreeTXT Page Icon Responsive Styles */
	.smokefree-txt-icon:hover .externalllinktooltip-smokefreetxt {
		display: block;
		left: 0 !important;
		top: 11%;
	}

	.ads-page-contain .txtR {
    	margin-left: 10px;
	}

	.ads-page-contain img.tb2 {
		padding-bottom: 50px;
	}

	.ads-page-contain .bannerText {
		top: 10%;
	}

	.ads-page-contain .bannerText p#everyDay {
    font-size: 1.5em;
    font-weight: bold;
	}

	.ads-page-contain .bannerText p#sloganText {
	    font-size: 1.2em;
	}

	.ads-page-contain .bannerDash {
    left: 20%;
    top: 10%;
	}

	.ads-page-contain .bannerDash p#everyDay {
		font-size: 1.3em;
	}

	.ads-page-contain img.bannerTb {
		padding-bottom: 20px;
	}

	.ads-page-contain .shareButtons {
		right: 0;
		bottom: 10px;
	}

	.ads-page-contain .shareButtons p {
		font-size: 16px;
	}

	.ads-page-contain .shareButtons img {
		width: 25px;
	}

	.ads-page-contain .shareButtons img.fbShare {
		width: 15px;
	}

	.page-mysmokefree .SecondCol .dash-button {
    display: block;
    width: 100px;
    margin-left: 25%;
    clear: both;
	}

	.ads-page-contain #fb {
		clear: left;
	}
}
