#sfg-nav-bar-menu {
	background-color: #2a2a2a;
	border: none;
	border-radius: 0px;
	height: 60px;
	display: block;
	position:relative;
	top: 0;
	left: 0;
	transition: all 0.3s;
	margin-bottom: 50px;
	a { text-decoration: none; }
	.nav-inner {
		padding-right: 15px;
		padding-left: 15px;
		background-color: #2a2a2a;
	}
	.container {
		margin-right: 18.5px;
		margin-left: 18.5px;
	}
	@media (max-width: 1200px) {
		display: none;
	}
.ss-navbar-desktop {
	padding-right: 0;
	padding-left: 0;
	color: #FFFFFF;
	width: 1080px;
	float:left;
	margin-bottom: 0;
	text-align: unset;
	ul.sf-main-menu {
		margin-left:-15px;
		float: none;
		li.responsive-menu-controls {
			display: none;
		}
		li {
			font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
			font-size: 14px;
			font-weight: 600;
			letter-spacing: 0;
			margin-bottom: 0;
			//width: 100% !important;
		}
		li>a {
			font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
			padding: 20px 18px;
			color: #FFFFFF;
			position: relative;
			text-transform: uppercase;
			height: 60px;
			white-space: nowrap;
		}
		li.active-trail a span.on-bar-wrapper {
			position: absolute;
			top: 12px;
			left: 0;
			width:100%;
			padding: 0 18px;
			display: block;
			.on-bar {
				width:100%;
				height:2px;
				background-color: #545454;
				display: block;
			}
		}
		li.active-trail.sfHover a span.on-bar-wrapper .on-bar {
			background-color: #FFFFFF;
		}
		li.active-trail a:focus span.on-bar-wrapper .on-bar,
		li.active-trail a:hover span.on-bar-wrapper .on-bar,
		li.active-trail.sfHover a:focus span.on-bar-wrapper .on-bar,
		li.active-trail.sfHover a:hover span.on-bar-wrapper .on-bar {
			background-color: #064d80;
		}
		li>a.sfHover,
		li>a:focus,
		li>a:hover {
			background-color: #087599;
		}
		li.menuparent {
			.mobile-subnav {
				display: none;
			}
		}
		li:hover {
			display: block;
		}
		li>ul {
			background-color: #087599;
			min-width: 100%;
			border: 0px;
			border-radius: 0px;
			top: 60px;
			display: none;
			width: auto !important;
			li>a {
				text-transform: uppercase;
			}
			li>a:focus,
			li>a:hover,
			li.active-trail>a,
			li.active-trail>a:focus,
			li.active-trail>a:hover {
				background-color: #064d80;
			}
			li>ul {
				top: 0px !important;
				bottom: 0px !important;
			}
		}
	}
	.nav .sfHover>a,
	.nav .sfHover>a:focus,
	.nav .sfHover>a:hover {
		background-color: #087599;
		border-color: #087599;
	}
}
}
#sfg-nav-bar-menu.sf-navbar-fixed {
	position: fixed;
	z-index: 200;
	width: 100%;
}
/* LESS Document search.less
Search Bar styles at the top, Search Results page below
*/
.header-search-form__toggle {
	display: inline-block;
	width: 60px;
	height: 60px;
	cursor: pointer;
	outline: 0;
	float:right;
	transition: all 0.3s;
	background: url(../images/search-icon-2x.png);
	background-color: #2a2a2a;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 26px 26px;
	border: none;
	box-shadow: none;
}
.header-search-form__toggle:focus,
.header-search-form__toggle:hover {
	background-color: #087599;
}
.search-overlay {
	width:0%;
	height:60px;
	padding: 0;
	background-color: #2a2a2a;
	z-index:888;
	display: block;
	overflow: hidden;
	position: absolute;
	top:0;
	right:0;
	transition: all 0.3s;
	form {
		float: right;
		.search-icon {
			width: 60px;
			height: 60px;
			outline: 0;
			float: left;
			background: url(../images/search-icon-2x.png);
			background-color: #2a2a2a;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 26px 26px;
		}
		.search-field-wrapper {
			float: left;
			width: auto;
			display: inline-block;
			input.form-control {
				height:40px;
				margin:10px;
				width: auto;
				font-weight: 400;
			}
		}
		button {
			@media only screen and (max-width: 766px) {
				background: none;
				margin: unset;
			}
		}
		button.btn-submit {
			box-shadow: none;
			width: auto;
			height: 60px;
			cursor: pointer;
			outline: 0;
			float: left;
			background-color: #087599;
			color:#FFFFFF;
			border: none;
			font-family: "Montserrat", "Times New Roman", Times, Georgia, serif !important;
			font-size:14px;
			font-weight: 700;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			border-radius:0px;
		}
		button.btn-submit {
			width: 60px;
		}
		button.btn-submit:focus,
		button.btn-submit:hover {
			background-color: #064d80;
		}
		button.btn-close {
			box-shadow: none;
			width: auto;
			height: 60px;
			cursor: pointer;
			outline: 0;
			float: left;
			background-color: #2a2a2a;
			color:#FFFFFF;
			border: none;
			font-size: 22px;
			line-height: 54px;
		}
		button.btn-close:focus,
		button.btn-close:hover {
			color:#52cdff;
		}
	}
}
.search-overlay.open {
	width: 100%;
	padding: 0 15px;
}
@media (max-width: 768px) {
	.search-overlay {
		form {
			.search-icon { display:none; }
			.search-field-wrapper {
				position: absolute;
				width: 100%;
				display: block;
				left: 15px;
				padding-right: 180px;
				input.form-control {
					width: 100%;
				}
			}
			button.btn-submit {
				position: absolute;
				right:75px;
			}
			button.btn-close {
				position: absolute;
				right:15px;
			}
		}
	}
}
@media (max-width: 440px) {
	.search-overlay {
		form {
			.search-icon { display:none; }
			.search-field-wrapper {
				padding-right: 120px;
				input.form-control {
					margin: 10px 0px;
				}
			}
			button.btn-submit {
				right:45px;
				width: 50px;
			}
			button.btn-close {
				right:5px;
				padding: 6px 8px;
			}
		}
	}
}
/* Search Results Page */
.results-search-form {
	.search-form-wrapper {
		width:80%;
		padding-right:10px;
		display: inline-block;
		input.form-control {
			height:40px;
			border-radius: 0px;
		}
	}
	.search-button-wrapper {
		width:20%;
		padding-left:10px;
		display: inline-block;
		float: right;
		.btn {
			height:40px;
		}
	}
}
.search-filters {
	h2 {
		font-size: 16px;
		line-height: 1.1;
		text-transform: uppercase;
		margin: 0 0 10px 0;
	}
	img {filter: drop-shadow(0px 0px 5px #ffffff);}
	img.sf-logo { width:132px; }
	img.sfv-logo { width:124px; }
	img.sfw-logo { width:158px; }
	img.sft-logo { width:134px; }
	img.sfe-logo { width:160px; }
	ul { margin-bottom: 0; }
	ul>li {
		padding-right:30px;
		margin-bottom: 0;
	}
	input[type=checkbox] {margin-right: 8px;}
}
.search-results-number {
	font-size: 24px;
	font-weight: 700;
}
.media-list .media-object {
	width:64px;
	height:64px;
}
@media (max-width: 1200px) {
	.search-filters {
		ul>li {
			margin-bottom: 5px;
		}
	}
}
@media (max-width: 500px) {
	.search-filters {
		ul>li {
			width: 100%;
			margin-bottom: 10px;
		}
	}
	.results-search-form {
		.search-form-wrapper {
			width:68%;
			padding-right:5px;
		}
		.search-button-wrapper {
			width:32%;
			padding-left:5px;
		}
	}
}

#navbar-responsive { display: none !important;}
/* Hamburger Menu to appear at 1200px breakpoint */
@media (max-width: 1200px) {
	//header {
	//	#main_nav {
	//
	//		#navbar-desktop { display: none; }
	//	}
	//}
	.navbar-header { float: left; }
			.navbar-toggle {
				display: block;
			}
	#navbar-responsive {
		display: block !important;
		z-index: 901;
		position: fixed;
		top:0;
		left:-310px;
		bottom: 0;
		width: 310px;
		overflow-x: hidden;
		padding:0;
		background-color: #2a2a2a;
		transition: all 0.3s;
		max-height: initial;
		a { text-decoration: none; }
		ul>li { line-height: 22px; }
		.navbar-nav>li { float: left; }
		ul.navbar-nav {
			margin: 0;
			background-color: #2a2a2a;
			width: auto !important;
			li.responsive-menu-controls {
				display: block;
				width: 310px;
				font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
				font-size: 14px;
				font-weight: 600;
				line-height: 22px;
				margin-bottom: 0;
				border-bottom: 1px solid #404040;
				.nav-back-wrapper {
					width: 150px;
				}
				.divider {
					height:60px;
					width: 1px;
					background-color: #404040;
					position: absolute;
					top:0;
					right:0;
				}
				.nav-back,
				.nav-close {
					box-shadow: none;
					font-weight: 400;
					border: 0;
					background-color: #2a2a2a;
					color:#ffffff;
					padding: 19px 18px 18px;
					width: 100%;
					background: #2a2a2a;
				}
				.nav-back {
					float:left;
					text-align: left;
					position: relative;
					padding-left:62px;
					display: none;
				}
				.nav-back::before {
					content: '';
					width: 16px;
					height: 16px;
					position: absolute;
					top:20px;
					left:38px;
					background-image: url('../images/back-2x.png');
					background-repeat: no-repeat;
					background-size: 16px 16px;
				}
				.nav-close {
					float:right;
					text-align: right;
					position: relative;
					padding-right:42px;
				}
				.nav-close::after {
					content: '';
					width: 16px;
					height: 16px;
					position: absolute;
					top:20px;
					right:18px;
					background-image: url('../images/close-2x.png');
					background-repeat: no-repeat;
					background-size: 16px 16px;
				}
				.nav-back:focus,
				.nav-close:focus,
				.nav-back:hover,
				.nav-close:hover {
					outline: none;
				}
			}
			li.slide-menu {
				position: absolute;
				ul {
					padding:0;
					position: absolute;
					top: 60px;
					left: -310px;
					width: 310px;
				}
				ul.landingpage-menu {
					left:0px;
					li a {
						width:275px;
						display: inline-block;
					}
				}
				ul li {
					font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
					font-size: 14px;
					font-weight: 600;
					letter-spacing: 0;
					width: 100%;
					background-color: #2a2a2a;
					border-bottom: 1px solid #404040;
					margin-bottom: 0;
				}
				ul li a {
					width:310px;
					display: block;
					color: #ffffff;
					position: relative;
				}
				ul.landingpage-menu li a,
				ul li:first-of-type a{
					padding: 20px 18px;
				}
				ul li a{
					padding: 20px 18px 20px 40px;
				}
				li.active { background-color: #087599; }
				li .mobile-subnav {
					box-shadow: none;
					display: block;
					float: right;
					width: 35px;
					height: 62px;
					border-right: none;
					border-top: none;
					border-left: 1px solid #404040;
					border-bottom: none;
					background-color: #2a2a2a;
					background-image: url('../images/mobile-nav-arrow-2x.png');
					background-position: center center;
					background-size: 10px 15px;
					background-repeat: no-repeat;
					padding: 0;
				}
				.mobile-subnav:focus,
				.mobile-subnav:hover {
					outline: none;
				}
			}
		}
	}
	#navbar-responsive.in {
		left:0;
	}
	#nav-bar-header {
		.navbar-header {
			margin-left: 30px;
		}
		.navbar-toggle {
			box-shadow: none;
			margin-top: 8px !important;
			float: none;
			border-radius: 0px;
			border: none;
			padding: 9px 10px 9px 5px;
          display: block !important;
		}
		.nav-menu-title {
			color: #ffffff;
			font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 14px;
			font-weight:500;
			text-transform: uppercase;
			letter-spacing: 0.08em;
			display: inline-block;
			padding-left: 10px;
		}
		.nav-hamburger {
			display: inline-block;
			.icon-bar {
				background-color: #ffffff;
				border-radius:0px;
			}
		}
	}
	.mobile-search-btn {
		display: inline-block !important;
	}
	#nav-bar-header {
		display: block !important;
	}
}
#nav-bar-header {
	background-color: #2a2a2a;
	border: none;
	border-radius: 0;
	height: 60px;
	position: relative;
	top: 0;
	left: 0;
	transition: all .3s;
	display: none;
	padding-right: 15px;
	padding-left: 15px;
}
.mobile-search-btn {
	display: none;
	margin-right: 30px;
}

//#mobile-nav {z-index: 901 !important;}
.dark-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 900;
	background-color: #000000;
	filter: alpha(opacity=90);
	opacity: .9;
}
#block-boxes-ss-search-bar {
	width: 60px;
	height: 60px;
	float: right;
	margin-bottom: 0;
	text-align: unset;
}
#sfg-nav-bar-menu > .container {
	width: 1200px !important;
	margin-left: auto;
	margin-right: auto;
	background-color: #2a2a2a;
}
#mobile-nav #navbar-responsive li.responsive-menu-controls > .row {
	margin-right: 0px;
}
#mobile-nav > .overlay-content > .mobilebtn {
	display: none;
}
.nav-bar-header {
	z-index: 1;
}