/******** Veterans Sidebars ********/
/*.col-sm-3.sidebar_first {
  margin: 0px;
  padding: 1em 1.61517% 0 0.6933%;
}*/
.region-sidebar-first.well {
  margin: 0px;
  padding: 0px;
}
#block-icfi-related-links-icfi-related-links {
  background-color: #FFFFFF;
}
#block-views-related-image-block {
  z-index: 5;
}
@media (min-width: 480px) and (max-width: 991px) {
  .node-type-veterans .row .col-sm-9 {
    padding-left: 2%;
    margin: 1em 0;
  }
  .col-sm-3.sidebar_first {
    margin: 0px !important;
    padding: 0px !important;
    width: 100% !important;
  }
}
/* Small devices (tablets, 768px and 991px) 
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { 



} */
/* Medium devices (desktops, 980 up to 1199px) */
@media (min-width: 992px) and (max-width: 1199px) {
  body.node-type-veterans section.col-sm-9.center_column.content-container,
  body.node-type-veterans div.col-sm-9.content-container.page-content-container {
    width: auto;
  }
  .node-type-veterans .row .col-sm-9 {
    width: 65%;
    margin: 1em 0 0 1.61517%;
  }
  .node-type-veterans .col-sm-3 {
    margin: 1em 1.61517% 0 0.6933%;
    width: 25%;
  }
  .node-type-veterans .col-sm-3.sidebar_second {
    width: 100%;
  }
}
/* Missing style from old bootstrap-responsive causing problems in homepage mobile menu. */
@media (max-width: 979px) {
  .nav-collapse {
    clear: both;
  }
}
/********** Basic Pages Sidebars *********/
@media (max-width: 480px) {
  .col-sm-3 {
    margin: 0;
  }
  .node-type-page .main-container .col-sm-3 .field-content,
  .node-type-cr-article .main-container .col-sm-3 .field-content,
  .node-type-blog-entry .main-container .col-sm-3 .field-content {
    margin-bottom: 0;
    margin-right: 2.4725%;
    margin-left: 2.4725%;
    width: 94.8414%;
  }
  .node-type-page .main-container .col-sm-3 .field-content img,
  .node-type-cr-article .main-container .col-sm-3 .field-content img,
  .node-type-blog-entry .main-container .col-sm-3 .field-content img {
    display: block;
    float: none;
    width: 100%;
  }
  .node-type-page .main-container .col-sm-3 .image-note,
  .node-type-cr-article .main-container .col-sm-3 .image-note,
  .node-type-blog-entry .main-container .col-sm-3 .image-note {
    width: 10% !important;
  }
}
@media only screen and (min-width: 481px) and (max-width: 766px) {
  section.block.block-views.clearfix {
    float: left;
    margin-bottom: 0;
    width: 41.621%;
  }
  .node-type-page .main-container .col-sm-3,
  .node-type-cr-article .main-container .col-sm-3,
  .node-type-blog-entry .main-container .col-sm-3 {
    display: inline-block;
    margin: 1em;
    width: 96.8414%;
  }
  .node-type-page .main-container .col-sm-3 .field-content img,
  .node-type-cr-article .main-container .col-sm-3 .field-content img,
  .node-type-blog-entry .main-container .col-sm-3 .field-content img {
    display: block;
    float: none;
    width: 100%;
    max-width: 384px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 979px) {
  section.block.block-views.clearfix {
    float: left;
    margin-bottom: 0;
    width: 41.621%;
  }
  .node-type-page .main-container .col-sm-3,
  .node-type-cr-article .main-container .col-sm-3,
  .node-type-blog-entry .main-container .col-sm-3 {
    display: inline-block;
    margin: 1em;
    width: 96.8414%;
  }
  .node-type-page .main-container .col-sm-3 .field-content img,
  .node-type-cr-article .main-container .col-sm-3 .field-content img,
  .node-type-blog-entry .main-container .col-sm-3 .field-content img {
    display: block;
    float: none;
    max-width: 100%;
  }
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
  .node-type-page .main-container .col-sm-3,
  .node-type-cr-article .main-container .col-sm-3,
  .node-type-blog-entry .main-container .col-sm-3 {
    width: 96.8414%;
    margin-top: 1em;
  }
  section.block.block-views.clearfix {
    float: left;
    margin-bottom: 0;
    width: 40% !important;
  }
  .node-type-page .main-container .col-sm-3,
  .node-type-cr-article .main-container .col-sm-3,
  .node-type-blog-entry .main-container .col-sm-3 {
    display: inline-block;
    margin: 1em;
    width: 96.8414%;
  }
  .node-type-page .main-container .col-sm-3 .field-content img,
  .node-type-cr-article .main-container .col-sm-3 .field-content img,
  .node-type-blog-entry .main-container .col-sm-3 .field-content img {
    display: block;
    float: none;
    width: 100%;
    min-width: 385px;
  }
  #block-icfi-related-links-icfi-related-links {
    margin-right: -6%;
  }
}
