nav.TopHat {
  margin-bottom:0;
  margin-top:0;
  background-color:#000;
  border:0;
  border-radius:0;
  border-bottom:2px solid #9ACAE4;
  display:block !important;
  opacity:100 !important;
}
nav.TopHat a.navbar-brand {
  display:none;
  padding:15px !important;
}
nav.TopHat ul.navbar-nav {
    margin-bottom: 0;
    margin-top:0;
}
nav.TopHat .toggle-message.expanded {
    display:none;
}
nav.TopHat ul.navbar-nav>li {
    width:auto;
}
nav.TopHat ul.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 14px;
    text-align: center;
}
nav.TopHat ul.navbar-nav>li>a>img {
    margin-right:auto;
    margin-left:auto;
}
nav.TopHat ul.navbar-nav>.active {
    border-top: 2px solid #9ACAE4;
    top: 2px;
}
nav.TopHat ul.navbar-nav>.active>a {
    background-color: #2a2a2a;
}

nav.TopHat ul.navbar-nav>li>a:hover,
nav.TopHat ul.navbar-nav>li.active>a:hover {
    background-color: #2a2a2a;
}
nav.TopHat #bs-navbar-collapse-1 {
    height: 50px;
}
@media only screen and (min-width: 1200px) {
    nav.TopHat .navbar-header {
      display:none;
    }
    nav.TopHat ul.navbar-nav li,
    nav.TopHat ul.navbar-nav li > a {
        width:auto !important;
    }
    nav.TopHat ul.navbar-nav li > a {
        padding-right: 10px;
        padding-left: 10px;
    }
    nav.TopHat ul.navbar-nav > * + * {
        margin-left: 12px;
    }
}
@media only screen and (max-width: 1199px) {
    nav.TopHat #tophat-navbar-collapse {
        margin:0;
        border-top:0;
        padding:0;
      max-height:none;
    }
    nav.TopHat ul.navbar-nav,
    nav.TopHat .navbar-header {
        max-width: 771px;
        margin-right: auto;
        margin-left: auto;
    }
    nav.TopHat ul.navbar-nav>li {
      border:none;
    }
    nav.TopHat ul.navbar-nav>li.active {
        border-bottom: 2px solid #9ACAE4;
        top: 0;
    }
    nav.TopHat #tophat-navbar-collapse ul > li {
        width:100%;
        margin-left:0;
    }
    nav.TopHat #tophat-navbar-collapse ul > li > a{
        text-align:left;
        width:100% !important;
        padding:15px;
        line-height: 1.07143em;
    }
}

@media only screen and (max-width: 766px) {
  nav.TopHat ul.nav {
    display: inline;
    float: left;
    position: relative;
    width: 90%;
    left:inherit;
    top:0;
    box-shadow:none;
  }
  nav.TopHat ul.nav > li {
    width: 100% !important;
  }
  nav.TopHat .container-fluid {
    padding-left:0;
    padding-right:0;
  }
}

@media only screen and (max-width: 440px) {
  nav.TopHat .toggle-message.text {
    display: none !important;
  }

  nav.TopHat #tophat-navbar-collapse {
    box-shadow:none;
  }
}

/** Explore button **/
nav.TopHat .navbar-toggle {
    text-align: right;
}
nav.TopHat .navbar-toggle#toggle-btn {
    display:flex;
    align-items:flex-end;
    padding:8px 15px;
    min-height:47px;
}
nav.TopHat .navbar-toggle:hover,
nav.TopHat .navbar-toggle:active {
    background-color: transparent;
}
nav.TopHat .navbar-toggle {
    border:none;
}
nav.TopHat .toggle-message {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    color: #fff;
    text-align: right;
}
nav.TopHat .toggle-message.graphic {
    display:flex;
    flex-direction:column;
}
nav.TopHat .toggle-message.graphic img {
    width:20px;
    padding-top:4px;
}
nav.TopHat .toggle-message.text {
  margin-right:4px;
}
nav.TopHat .toggle-message.text.expanded {
  font-size:14px;
  line-height:16px;
  letter-spacing:.08em;
  font-weight:600;
  color:#FFF;
  padding-right:10px;
  transition:all .2s;
  margin-bottom:5px;
  margin-right:-5px;
}
nav.TopHat #toggle-btn .toggle-arrow {
  -moz-transform: scaleY(-1);    /* Gecko */
  -o-transform: scaleY(-1);      /* Opera */
  -webkit-transform: scaleY(-1); /* Webkit */
  transform: scaleY(-1);

}
nav.TopHat #toggle-btn.collapsed .toggle-arrow {
   -moz-transform: scaleY(1);    /* Gecko */
   -o-transform: scaleY(1);      /* Opera */
   -webkit-transform: scaleY(1); /* Webkit */
   transform: scaleY(1);
 }

/** Change the tophat collapse width **/
@media (max-width: 1199px) {
    nav.TopHat .navbar-header {
        float: none;
    }
    nav.TopHat a.navbar-brand {
        display:block;
    }
    nav.TopHat .navbar-toggle {
        display: block;
        margin:0 !important;
        padding:5px;
    }
    nav.TopHat .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    nav.TopHat .navbar-collapse.collapse {
        display: none!important;
    }
    nav.TopHat .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    nav.TopHat .navbar-nav>li {
        float: none;
    }
    nav.TopHat .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    nav.TopHat .collapse.in{
        display:block !important;
    }
}