/*navigation*/
nav.scrollmenu {
    background-color: #000000;
    overflow: auto;
    white-space: nowrap;
    top:0;
    position: fixed;
    width:100%;
    z-index: 100;
}

nav.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    height: 100%;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    background: #000000;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    left:-20px;
}
nav.scrollmenu a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000000;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
nav.scrollmenu a:hover, nav.scrollmenu a:focus, nav.scrollmenu a:active {
    background-color: #000000
}

nav.scrollmenu a:hover:before, nav.scrollmenu a:focus:before, nav.scrollmenu a:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.scrollmenu a:hover:before {
    background-color: #333;
}

#smokefree-gov.active{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 24px;
    text-decoration: none;
    height: 100%;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    border-left:#9ACAE4 1px solid !important;
    border-right:#9ACAE4 1px solid !important;
    background-color: #333333;
    left:-20px;
}
#smokefree-gov.active:before{
    background-color: #333333;
}

@media only screen and (min-width : 786px) {
    .nav-container {
        width: 750px;
    }
}

@media only screen and (min-width : 992px) {
    .nav-container {
        width: 970px;
    }
}

@media only screen and (min-width : 1200px) {
    .nav-container {
        width: 1050px;
    }
}

.nav-container {
    margin-left: auto;
    margin-right:auto;
}

.tophat-508-margin {
    margin-top: 20px;
}