.learnabout{
    background: url("/sites/all/modules/custom/icf_lgbt_app/src/assets/learn-about-bg.png");
    background-size: cover;
    border: #9f48f9 5px solid;
    padding: 15px;
    min-height: 535px;
}
@media screen and (max-width:768px){
    .learnabout{
        min-height: auto !important;
    }
}
.learnabout a{
    color: #333333 !important;
}


.learnabout .button:before{
    content: "";
    position: absolute;
    z-index: 1;
    right: 5px;
    bottom: 5px;
    width: 0;
    height: 0;
    border-bottom: 20px solid #9f48f9;
    border-left: 20px solid transparent;
    transition: all 0.2s ease-in;

}

.learnabout .button-transition:after {
    background: #9f48f9 !important;

  }
.buttonText{
    z-index: 10;
    display:block; 
    position:relative;
}