@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700,800,900');

.AppH1{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900 !important;
    font-size: 4em !important;
    line-height: 60px !important;
    color: #ffffff !important;
    text-transform: uppercase !important;
    text-align: left;
    letter-spacing: 0.0em !important;
    -ms-font-feature-settings: normal !important;
}
.AppPara{
    color: #ffffff !important;
}
.highLight{
    color: #ffd02d;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 900 !important;
    font-size: 65px !important;
}
.heroImage{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 290px !important;
    padding-bottom: 10px;
    padding-top:10px;
}


.appheader{
    background-color: #000000;
    border-bottom: #F7DB88 8px solid;
}
.mobileHead{
    display: none;
}
.heroImg{
    padding-right: 10px;
}

@media screen and (max-width:991px){
    .AppH1{
        font-size: 5vw;
        letter-spacing: 0.0em !important;
        -ms-font-feature-settings: normal;
    }
    .heroImg{
        max-width: 120px;
    }
    .highLight, .AppH1{
        font-size: 42px !important;
        line-height: 40px !important;  
        letter-spacing: 0.0em !important;  
        -ms-font-feature-settings: normal;   
    }


    .mobileHide{
        display: none;
    }
}
@media screen and (min-width:600px) and (max-width: 767px){
    .AppH1{
        font-size: 42px !important;
        line-height: 40px !important;
        letter-spacing: 0.0em !important;
        -ms-font-feature-settings: normal;
    }
    .highLight, .AppH1{
        font-size: 42px !important;
        line-height: 40px !important;  
        letter-spacing: 0.0em !important;  
        -ms-font-feature-settings: normal;   
    }
    .mobileHead{
        display:block;
        width: 100%;
        height: auto;
        position: relative;
        overflow: hidden;
    }
    .appheader{
        background-image: none;
        background-color: #000000;
        min-height: auto;
        -webkit-backface-visibility: hidden;
        overflow:hidden;

    }
}
@media screen and (max-width:600px){
    .AppH1{
        font-size: 42px !important;
        line-height: 42px !important;
        letter-spacing: 0.0em !important;
        -ms-font-feature-settings: normal;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
    .highLight, .AppH1{
        font-size: 42px !important;
        line-height: 42px !important; 
        letter-spacing: 0.0em !important;
        -ms-font-feature-settings: normal;      
    }
    .mobileHead{
        display:block;
        width: 100%;
        height: auto;
        overflow:hidden;
        position: relative;
        overflow: hidden;
        
    }
    .AppPara{
        padding-bottom: 0 !important;
    }
    .appheader{
        background-image: none;
        background-color: #000000;
        min-height: auto;
        

    }
    .rightIcon{
        margin-left: auto;
        max-width: 90px !important;
    }
   
}
