/* Layout 5: Regular screen ----------- */
@media only screen
	and (min-width : 1200px)
	and (max-width : 1365px) {
	
	BODY {
		background-color:  #424242;
		background-image:  url('images/background/smokefree-people-walking-bg6-desktop-large-landscape-2400x1701.jpg');
		background-repeat: repeat-x;
	}
	.smokeLayout {width:900px; margin:auto;}
	.smaller_grid{display:none ;}
	.container{width:auto !important;}
	.oneLine{margin-top:5px !important;}
	.carousel-inner {
		margin-left:-1em !important;
	}
	#carouselButtons {
		float: right;
		bottom: 40px;
		position: relative;
		right: 30px;
		width:100%;
	}
	.grid {
		list-style: none outside none;
		margin: 0 auto;
		max-width: 1300px;
		padding: 20px 20px 100px; 
		text-align: center;
	}
	.grid li {
		display: block;
		float: left;
		margin: 0;
		padding: 10px;
		position: relative;
		text-align: left;
		width:16.667% !important;
	}
	.tagline {
		background-image: url("../images/header/smokefree-hd5-tagline-bg-4x65.png");
		background-repeat: repeat;
		display: block;
		float: left;
		position: relative;
		width: 100%;
		z-index: 2;
	}
	.twoLine{margin-top:22px;}
	.oneLine {margin-top:5px;}	
	.page-node-138  article h2 {
		font-size: 1.5em;
		height: 75px;
		line-height: 1.3em;
		margin: 0;
	}
	.page-node-137 article h2 {
		font-size: 1.5em;
		height: 75px;
		line-height: 1.3em;
		margin: 0;
	}
	.page-node-136 article h2 {
		font-size: 1.5em;
		height: 75px;
		line-height: 1.3em;
		margin: 0;
	}
	.page-node-135 article h2 {
		font-size: 1.5em;
		height: 75px;
		line-height: 1.3em;
		margin: 0;
	}
	.page-node-134 article h2 {
		font-size: 1.5em;
		height: 75px;
		line-height: 1.3em;
		margin: 0;
	}
	.page-node-133 article h2 {
		font-size: 1.5em;
		height: 75px;
		line-height: 1.3em;
		margin: 0;
	}
	.logo-container {
		left: 2.7377%;
		margin-top: 3em;
		min-width: 210px;
		width: 21.6582%;
	}
	.logo-container A {
		font-size:           1.4079em;
		line-height:         3.9219em;
	}
	.logo {
		height:              3.9219em;
		width:               100%;
	}
	
	/* Mobile button (hidden) */
	.mobile-btn {
		display: none;
		visibility: hidden;
	}
	.grid li {
		display:block;
		width: 205px;
		margin: 0;
		padding: 10px;
		text-align: left;
		position: relative;
		float:left;
	}
	.front .navbar .nav {
		width: 90.3%;
		min-width: 1130px;
	}
	.navbar .nav {
		margin-top:1em;
		width:95%;
		margin-bottom: 10px;
	}
	.navbar UL.nav LI {
		margin-left:         .79492%;
		width:				 11.5%;
	}
	.front .navbar UL.nav LI {
		width: 12.4%;
	}
	.navbar UL.nav A {
		font-size: 16px;
		min-height:2.2em;
		padding: 1.4861em 0;
		width: 90%;
	}
	.front .navbar UL.nav A {
		font-size: 14px;
		min-height:2.2em;
		padding: 1.4861em 0;
		width: 100%;
		text-align: center;
	}
	.front .navbar UL.nav LI:nth-child(2), .front .navbar UL.nav LI:nth-child(3)  {
		width: 16%;
	}
	.navbar UL.nav LI:nth-child(2), .navbar UL.nav LI:nth-child(3)  {
		width: 17.5%;
	}

	.front .navbar UL.nav LI.last a {
    color: #000000;
    padding-bottom: 12px;
    padding-top: 13px;
    background: #FFFFFF;
    margin-left: 5px;
	}

	.front .navbar UL.nav LI.last a:hover {
	    border-bottom: 3px solid #000000;
	    padding-bottom: 9px;
	}

	.navbar UL.nav LI.last a:hover {
    border-bottom: 3px solid #000000;
    padding-bottom: 11px;
	}

	.navbar UL.nav LI.last a {
    color: #000000;
    padding-bottom: 14px;
    padding-top: 11px;
    background: #FFFFFF;
    margin-left: 40px;
	}

	.navbar UL.nav LI.last A:active,
	.navbar UL.nav LI.last A.active-trail,
	.navbar UL.nav LI.last A.active-trail:focus,
	.navbar UL.nav LI.last A.active-trail:link,
	.navbar UL.nav LI.last A.active-trail:visited {
    padding-bottom: 11px;
	}
	
	/* Tag line */
	.tagline P {
		font-size:           2.37em;
		line-height:         1.1013em;
		margin:              0.51904em 1.01523%;
		min-height:          38px;
		width:               65.9695%;
		z-index:             2;
	}
	.content-container {
		line-height:         1.55em;
		margin:              1em 0 0 0.952380952%;
		width:               73.7728937729%;
	}
	.content-container .content-container {
		margin:              2.3333%;
		width:               95.3334%;
	}
	.sidebar {
		font-size:           1.2em;
		line-height:         1.55em;
		margin:              1em 0.9523809523% 0 0.6593406593%;
		width:               23.663003663%;
	}
	.sidebar-image {
		margin-bottom:       0;
	}
	#search-header {
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		display: block;
		float: right;
		font-family: Arial,​Helvetica,​sans-serif;
		margin: 1.2143em 1.01523% 0;
		padding: 0;
		position: absolute;
		width: 45%;
		right: 0;
	}
	#search-header FORM {
		display:             inline;
		float:               none;
		margin:              0;
		padding:             0;
		position:            relative;
		top:                 0;
	}
	#search-header #search-header-container {
		display:             block;
		float:               right;
		line-height:         0;
		margin:              0;
		padding:             0;
		position:            relative;
		top:                 0;
		white-space:         nowrap;
		width:               55%;
	}	
	#search-header #searchbox-header {
		background-color:    transparent;
		background-image:    url("../images/footer/smokefree-ftr8-search-bg-mobile-4x35.png");
		background-repeat:   repeat;
		border:              none;
		color:               #373737;
		float:               right;
		font-size:           1.2em;
		height:              2.1429em;
		line-height:         2.5714em;
		margin-right:        40px;
		min-height:          36px;
		position:            relative;
		top:                 0;
		width:               87%;
	}
	#search-header .search-button {
		background-position: 50% center;
		border:              0;
		float:               right;
		font-family:         Arial,​Helvetica,​sans-serif;
		font-size:           1.2em;
		height:              2.1429em;
		line-height:         1em;
		margin:              0;
		min-height:          36px;
		padding:             0;
		position:            absolute;
		right:               0;
		top:                 0;
		width:               40px;
	}
	#search-footer {
		display:none;
		opacity: 0;
		visibility: hidden;
	}
	
	/* Bottom header border */
	.front .nav-bottom-border {
		margin:              0 1.01523% 1.5em;
		width:               97.96954%;
	}
	.node-type-page .nav-bottom-border,
	.node-type-veterans .nav-bottom-border,
	.node-type-webform .nav-bottom-border,
	.node-type-done .nav-bottom-border	{
		padding:             0.6em;
	}
	.grid_layout{display:none;}
	.tagline_responsive{display:none;}	
	.oneLine{margin-top:5px !Important;}
	.lp-text {
		font-size: 1em !important;
		font-weight: bold;
		line-height: 1.2em !important;
		margin-top: 0.7em !important;
		padding: 0 1.4em 0 0 !important;
	}
	.describe {
		padding:10px; 
		color:#fff;
	}
	.describe h2 {
		font-size: 1.3em !important;
		height: 2em !important;
		line-height: 1.2 !important;
		margin: 0 0 1em !important;
	}
	.describe p {
		color:#fff; 
		font-size:1.1em;
	}
	.page-node-133 .btn {
		background: url("../images/health-effects/arrow_link.png") no-repeat scroll 4px 0 rgba(0, 0, 0, 0);
		bottom: 0;
		border:none !Important;
		cursor: pointer;
		display: inline-block;
		float: right;
		height: 20px;
		line-height: 20px;
		margin: 10px;
		padding: 4px 12px;
		position: absolute;
		right: 0;
		width:10px;
	}
	.btn.lp-arrow {
		background: url("../images/health-effects/arrow_link.png") no-repeat scroll 4px 0 rgba(0, 0, 0, 0);
		bottom: 0;
		border:none !Important;
		cursor: pointer;
		display: inline-block;
		float: right;  
		height: 20px;
		line-height: 20px;
		margin: 10px;
		padding: 4px 12px;
		position: absolute;
		right: 0;
		width:10px;
	}
	.tab_1, .tab_2, .tab_3 {
		position: relative;	
		float: left; 
		height: 280px;	
		padding: 4px;	
	}
	.tab_1 {
		background: none repeat scroll 0 0 #608018;
		margin-right: 5px;
		width: 32%;
	}
	.tab_2 {
		background: none repeat scroll 0 0 #0A5371;
		margin-right: 5px;
		width: 32%;
	}
	.tab_3 {
		background: none repeat scroll 0 0 #b56000;
		position: relative;
		width: 31%;
	}		
	.features_label {
		width:100%;
	}
	.features li {
		list-style: none outside none;
		padding: 2px;
		padding-bottom: 0px;
		padding-top: 1px;
	}
	.front .tagline P {
		font-size: 2.37em;
		line-height: 1.1013em;
		margin: 0.51904em 4.9793% 0.51904em 4.6667%;
		min-height: 38px;
		width: 62.8414%;
		z-index: 2;
	}
	.logobar .links {
		margin-left: 4em;
	}
	.logobar .half-width {
		width: 45% !important;
	} 
	.grid li {
		display: block;
		float: left;
		margin: 0;
		padding: 10px;
		position: relative;
		text-align: left;
		width:16%;
	}	
	.container_slideshow {
    	padding-left: 2%;
    	width: 570px !important;
	}	
	.node-type-page .span3,
	.node-type-veterans .span3 {
		font-size:           1.2em;
		line-height:         1.55em;
		margin:              .8em 0.9523809523% 0 0.6593406593%;
		width:               23.663003663%;
	}
	.node-type-page .row-fluid .span9,
	.node-type-veterans .row-fluid .span9 {
		line-height:         1.55em;
		margin:              1em 0 0 0.952380952%;
		width:               73.7728937729%;
	}
	.node-type-page .row-fluid .page-content-container,
	.node-type-veterans .row-fluid .page-content-container{
		font-size:           1.2em;
		margin:              2.3333%;
		width:               95.3334%;
	}
	.node-type-page .row-fluid .span9.no-sidebar,
	.node-type-veterans .row-fluid .span9.no-sidebar,
	.node-type-webform .row-fluid .content-container,
	.node-type-custom .row-fluid .content-container {
		margin:              1em 1.5793% 0;
		width:               96.8414%;		
	}
	.node-type-page .row-fluid .span9 .page-content-container,
	.node-type-veterans .row-fluid .span9 .page-content-container	{
		margin: 2.3333%;
		width: 95.3334%;
	}
	.page-node-136 .node-type-page .row-fluid .span9 .page-content-container,
	.page-node-136 .node-type-veterans .row-fluid .span9 .page-content-container {
		margin-bottom: 2.3333%;
		margin-left: 12% !important;
		margin-right: 2.3333%;
		margin-top: 2.3333%;
		width: 80% !important;
	}
	.node-type-page .row-fluid .span9 .content-container,
	.node-type-veterans .row-fluid .span9 .content-container	{
		margin: 2.3333%;
		width: 95.3334%;
	}
	.addthis_32x32_style .dummy .at300bs, .addthis_32x32_style .at300bs, .addthis_32x32_style .at15t, .addthis_toolbox {
		top: 1.6em;
	}
	.span3 .link-area {  
		border-top: 0.8em solid #F0F0F0;  
		width: 100%;  
    }
	
	/* Tab styles */
	.node-type-page .span9   article #myTab li, 
	.node-type-page .span9 article .nav-pills li,
	.node-type-veterans .span9   article #myTab li, 
	.node-type-veterans .span9 article .nav-pills li {
		min-width: 14%;
	}
	.navbar UL.nav LI {
		color: #fff;
		float: left;
		font-size: 15px;
		margin-right: 0;
		text-align: left;
		text-decoration: none;
		border-left: none;
		margin-bottom: 0;
	}
	.social-container {
		display: inline;
		float: left;
		padding: 0.5em 1em;
		width: 20.791% !important;
	}
	.facebook-icon {
		display: inline-block;
		margin-right: 2em;
		padding-left:0 !important;
	}
	
	/* Tag line */
	.tagline P {
		font-size:           2.37em;
		line-height:         1.1013em;
		margin:              0.51904em 4.9793% 0.51904em 5.6667%;
		min-height:          38px;
		width:               62.8414%;
		z-index:             2;
	}
	.links-container-qp {
		display: inline;
		float: left;
		margin-left: 0.854%;
		padding-top: 5 !important;
		text-align: left;
		width: 20.542%;
	}
	.links-container-txt {
		display: inline;
		float: left;
		margin-left: 0.416%;
		padding-top: 5 !important;
		text-align: left;
		width: 24%;
	}
	.veterans.links-container-txt {
		width:30%;
	}
	.mobile-sites,
	.veterans-mobile-sites {
		display: none;
	}
	
	/* Layout 5: Additional ----------- */
	.grid_layout{display:none;}
	.tagline_responsive{display:none;}	
	.oneLine{margin-top:5px !Important;}
	.lp-text {
		font-size: 1em !important;
		font-weight: bold;
		line-height: 1.2em !important;
		margin-top: 0.7em !important;
		padding: 0 1.4em 0 0 !important;
	}
	.describe{padding:10px; color:#fff;}
	.describe h2 {
		font-size: 1.3em !important;
		height: 2em !important;
		line-height: 1.2 !important;
		margin: 0 0 1em !important;
	}
	.describe p {color:#fff; font-size:1.1em;}
	.page-node-133 .btn {
		background: url("../images/health-effects/arrow_link.png") no-repeat scroll 4px 0 rgba(0, 0, 0, 0);
		bottom: 0;
		border:none !Important;
		cursor: pointer;
		display: inline-block;
		float: right;
		height: 20px;
		line-height: 20px;
		margin: 10px;
		padding: 4px 12px;
		position: absolute;
		right: 0;
		width:10px;
	}
	.btn.lp-arrow {
		background: url("../images/health-effects/arrow_link.png") no-repeat scroll 4px 0 rgba(0, 0, 0, 0);
		bottom: 0;
		border:none !Important;
		cursor: pointer;
		display: inline-block;
		float: right;  
		height: 20px;
		line-height: 20px;
		margin: 10px;
		padding: 4px 12px;
		position: absolute;
		right: 0;
		width:10px;
	}
	.tab_1, .tab_2, .tab_3 {
		position: relative;	
		float: left; 
		height: 280px;	
		padding: 4px;	
	}
	.tab_1 {
		background: none repeat scroll 0 0 #608018;
		margin-right: 5px;
		width: 32%;
	}
	.tab_2 {
		background: none repeat scroll 0 0 #0A5371;
		margin-right: 5px;
		width: 32%;
	}
	.tab_3 {
		background: none repeat scroll 0 0 #b56000;
		position: relative;
		width: 31%;
	}	
	.features_label{width:100%;}
	.features li {
		list-style: none outside none;
		padding: 2px;
		padding-bottom: 0px;
		padding-top: 1px;
	}
	.front .tagline P {
		font-size: 2.37em;
		line-height: 1.1013em;
		margin: 0.51904em 4.9793% 0.51904em 4.6667%;
		min-height: 38px;
		width: 62.8414%;
		z-index: 2;
	}
	.grid li {
		display: block;
		float: left;
		margin: 0;
		padding: 10px;
		position: relative;
		text-align: left;
		width:16%;
	}	
	.container_slideshow {
		padding-left: 2%;
		width: 570px !important;
	}
	.node-type-page .span3,
	.node-type-veterans .span3 {
		font-size:           1.2em;
		line-height:         1.55em;
		margin:              .8em 0.9523809523% 0 0.6593406593%;
		width:               23.663003663%;
	}
	.node-type-page .row-fluid .span9,
	.node-type-veterans .row-fluid .span9 {
		line-height:         1.55em;
		margin:              1em 0 0 0.952380952%;
		width:               73.7728937729%;
	}
	.node-type-page .row-fluid .page-content-container,
	.node-type-veterans .row-fluid .page-content-container{
		font-size:           1.2em;
		margin:              2.3333%;
		width:               95.3334%;
	}
	.node-type-page .row-fluid .span9.no-sidebar,
	.node-type-veterans .row-fluid .span9.no-sidebar,
	.node-type-webform .row-fluid .content-container,
	.node-type-custom .row-fluid .content-container {
		margin:              1em 1.5793% 0;
		width:               96.8414%;		
	}
	.node-type-page .row-fluid .span9 .page-content-container,
	.node-type-veterans .row-fluid .span9 .page-content-container	{
		margin: 2.3333%;
		width: 95.3334%;
	}
	.page-node-136 .node-type-page .row-fluid .span9 .page-content-container,
	.page-node-136 .node-type-veterans .row-fluid .span9 .page-content-container {
		margin-bottom: 2.3333%;
		margin-left: 12% !important;
		margin-right: 2.3333%;
		margin-top: 2.3333%;
		width: 80% !important;
	}
	.node-type-page .row-fluid .span9 .content-container,
	.node-type-veterans .row-fluid .span9 .content-container	{
		margin: 2.3333%;
		width: 95.3334%;
	}
	.addthis_32x32_style .dummy .at300bs, .addthis_32x32_style .at300bs, .addthis_32x32_style .at15t, .addthis_toolbox {
		top: 1.6em;
	}
	.span3 .link-area {  
		border-top: 0.8em solid #F0F0F0;  
		width: 100%;  
    }
	
	/* Tab styles */
	.node-type-page .span9   article #myTab li, 
	.node-type-page .span9 article .nav-pills li,
	.node-type-veterans .span9   article #myTab li, 
	.node-type-veterans .span9 article .nav-pills li {
		min-width: 14%;
	}
	.navbar UL.nav LI {
		color: #fff;
		float: left;
		margin-right: 0;
		text-align: left;
		text-decoration: none;
		margin-bottom: 0px;
	}
	.social-container {
		display: inline;
		float: left;
		padding: 0.5em 1em;
		width: 20.791% !important;
	}
	.facebook-icon {
		display: inline-block;
		margin-right: 2em;
		padding-left:0 !important;
	}
	
	/* Tag line */
	.tagline P {
		font-size:           2.37em;
		line-height:         1.1013em;
		margin:              0.51904em 4.9793% 0.51904em 5.6667%;
		min-height:          38px;
		width:               62.8414%;
		z-index:             2;
	}
	
	/* Footer Styles */
	
		.social-container {
		display: inline;
		float: left;
		width:20.791% !important;
		padding-right: 1em;
		padding-left: 1em;
		padding-top: .5em;
		padding-bottom: .5em;
	}
	.logobar .half-width-sites {width:50%; top:.5em;}
	.logobar .social {
		float: left;
		position: relative;
	}
	.links-container-txt {
		display: inline;
		float: left;
		margin-left: 0.416%;
		padding-top: .5em;
		text-align: left;
		 width: 20%;
	}
	.links-container-txt img {
		clear: right;
		float: left;		
		vertical-align: middle;
	}
	.links-container-qp {
		display: inline;
		float: left;
		margin-left: 0.854%;
		padding-top: .5em;
		text-align: left;
		width: 15.542%;
	}
	.logobar .links {
		margin-left: 1em; 
	}
	.logobar .links a {
		color: #fff;
		display: inline;
		float: left;
		font-size: 1em;
		line-height: 1.785em;
		margin-left: 0.18%;
		text-decoration: none;
		vertical-align: text-bottom;
	}
	.logobar .links a:hover {
		color: #fff;
		font-size: 1em;
	}
	.links-container-qp {
		margin-top: 0px !important;
		float: left;
		padding-right: 3%;
		text-align: center;
		width: 20.394%;
		max-width: 100% !important;
		height:48px;
	}
	.smokefree-txt-icon {
		clear: none;
		float: none;
		margin:0;
		padding: 0;
	}
	.quit-plan-icon {
		display: inline-block;
	}
	.logobar .sites img {
		display: inline;
		float: right;
		position: relative;
	}
	.bottom-border {
		border-bottom: 7px solid #264C59;
		display: block; 	
		float: left;
		position: relative;
		width: 100%;
	}
	.logo-container A {
		font-size:           1.4079em;
		line-height:         3.9219em;
	}
	.facebook-icon {
		display: inline-block;
		margin-right: 2em;
		padding-left: .6em;
	}
	.twitter-icon {
		display: inline-block;
	}
	.smokefree-txt-text {
		display: inline-block;
		padding-top: .5em;
		vertical-align: top;
	}
	.quit-plan-text {
		display: inline-block;
		padding-top: .5em;
		vertical-align: top;
	}
	
	/* SmokefreeTXT Page Icon Responsive Styles */
	.smokefree-txt-icon:hover .externalllinktooltip-smokefreetxt {
		display: block;
		left: 3%;
		top: 9%;
	}

	.ads-page-contain .bannerText p#everyDay {
    font-size: 1.8em;
    font-weight: bold;
	}

	.ads-page-contain .bannerText p#sloganText {
	    font-size: 1.3em;
	}

}
