.node-type-cr-article {
    .article-title {
        padding-top: 30px;
    }
    @media only screen and (min-width : 768px) {
        .teen-article-logo {
            width: 90%;
        }
    }
    @media only screen and (max-width : 767px) {
        .teen-article-logo {
            width: 105%;
        }
    }
    @media (max-width:480px) {
        .syndicate {
            p a.ext {
                color: #337ab7;
                display: initial;
                padding: 0;
                width: auto;
                float: none;
                span.ext {
                    float: none;
                }
            }
        }
    }
}

@media only screen and (min-width: 414px) {
    .main-container.container, .container.margin-top-lg {
        margin-top: 80px !important;
    }
    .smokefreegov-teen .main-container.container {
        margin-top: 0px !important;
    }
}

// Hide the more for you block on the "esources for Health Professionals" page
.smokefreegov-resources-for-health-professionals #block-views-more-for-you-content-bottom {
    display: none;
}