<If "req('Host') = 'http://smokefree.dev.icfi.com'">
AuthUserFile /home/smokefree/public_html/everytrycounts/.htpasswd
AuthGroupFile /dev/null
AuthName "Secure Document"
AuthType Basic
require user fdauser
</If>